<h1><%= @animal.name %></h1>

<p> Name: <%= @animal.name %></p>
<p> Has Legs?: <%= @animal.has_legs %></p>
<p> Number of Legs: <%= @animal.number_of_legs %></p>
<p> Warm Blooded?: <%= @animal.warm_blooded %></p>
