<h1><%= @biome.name %></h1>

<p> Name: <%= @biome.name %></p>
<p> Percentage of Earth Covered: <%= @biome.percentage_of_earth %></p>
<p> Plentiful Rain: <%= @biome.plentiful_rain %></p>
<p> Number of Animals: <%= @biome.animals.count %></p>
